# ------------------------------------------------------------------------------
# Node.js / React
# ------------------------------------------------------------------------------
node_modules/
build/
dist/
.npm/

# ------------------------------------------------------------------------------
# .NET / ASP.NET Core
# ------------------------------------------------------------------------------
bin/
obj/
**/appsettings.json
**/appsettings.*.json.user

# ------------------------------------------------------------------------------
# User-specific files
# ------------------------------------------------------------------------------
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ------------------------------------------------------------------------------
# Logs / Debug
# ------------------------------------------------------------------------------
*.log
*.tlog
*.vspscc

# ------------------------------------------------------------------------------
# OS junk files
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------------------------
# Other
# ------------------------------------------------------------------------------
.env
.env.local
.env.*.local

# ------------------------------------------------------------------------------
# Ignore test output
# ------------------------------------------------------------------------------
TestResults/
